# EDA for Multidimensional Poverty Index in developing countries and How it affects the freeness of a country

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("Multidimensional Poverty Index____.xls", header = 2, nrows = 102)
labels = pd.read_excel("Aggregate_Category_and_Subcategory_Scores_FIW_2003-2022.xlsx", sheet_name = 1)

# Data Cleaning for Multidimensional Poverty Index

1. Rename useful column names which are unnamed to that present in the dataset
2. There exists an empty column 'b' filled with NAs so, delete that
3. Drop the first row as it has column names
4. Reset the index of the dataframe
5. Clean missing values

In [3]:


df = df.rename(columns = {'Unnamed: 0':'Country', 'Unnamed: 18': 'Population vulnerable to multidimensional poverty'})

df = df.drop(df.filter(regex='Unnamed:').columns, axis=1)
df = df.drop('b', axis = 1)

df = df.drop(0)
df = df.reset_index(drop = True)

# replace missing values not represented by NaN with it
df = df.replace('..', np.NaN)

df

,Country,Year and survey,Index,Headcount,Intensity of deprivation,Number of poor (year of the survey),Number of poor (2017),Inequality among the poor,Population in severe multidimensional poverty,Population vulnerable to multidimensional poverty,Health,Education,Standard of living,National poverty line,PPP $1.90 a day
0,Afghanistan,2015/2016 D,0.271721,55.910242,48.599550,19376.271484,19864.955078,0.020,24.861951,18.137625,10.009383,44.988769,45.001850,54.5,NaN
1,Albania,2017/2018 D,0.002748,0.703561,39.056706,20.645042,20.615662,NaN,0.067062,5.040320,28.259981,55.054617,16.685401,14.3,1.1
2,Algeria,2012/2013 M,0.008152,2.100729,38.806799,805.389282,867.982178,0.006,0.278065,5.836775,29.949945,46.842086,23.207971,5.5,0.5
3,Angola,2015/2016 D,0.282435,51.104110,55.266601,14724.864258,15220.947266,0.024,32.457551,15.542856,21.164586,32.050019,46.785396,36.6,30.1
4,Armenia,2015/2016 D,0.000675,0.186516,36.213946,5.455249,5.465758,NaN,0.000000,2.717535,33.111387,36.774689,30.113921,25.7,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Vanuatu,2007 M,0.173883,38.762772,44.858220,85.259880,107.079826,0.012,10.158028,32.295159,21.350864,22.457635,56.191498,12.7,13.1
97,Viet Nam,2013/2014 M,0.019334,4.895178,39.496365,4530.238281,4676.892090,0.010,0.725191,5.619922,15.220372,42.624530,42.155096,9.8,2.0
98,Yemen,2013 D,0.240735,47.698307,50.470251,12199.472656,13474.971680,0.021,23.885250,22.074686,28.296483,30.747494,40.956020,48.6,18.8
99,Zambia,2013/2014 D,0.261341,53.243721,49.083820,8317.187500,9101.550781,0.017,24.182746,22.481249,23.734817,22.517134,53.748053,54.4,57.5
100,Zimbabwe,2015 D,0.136513,31.802166,42.925546,5017.571289,5256.867676,0.009,8.027032,27.388456,27.285579,12.276161,60.438257,72.3,21.4

# Data Cleaning for Aggregate Category and Subcategory Scores

1. Drop unnamed columns which don't have any data
2. There is an empty coulmn 'x' which marks the last coulmn of the dataset, delete that
3. Get only the data from 2018 as the Multidimensional Poverty Index has data for that year
4. Reset the indices for readability

In [4]:

labels = labels.drop(labels.filter(regex='Unnamed:').columns, axis=1)
labels = labels.drop('x', axis = 1)
labels = labels[labels['Edition'] == 2018]
labels.reset_index(drop = True, inplace = True)
labels

,Country/Territory,Region,C/T?,Edition,Status,PR Rating,CL Rating,A,B,C,Add Q,Add A,PR,D,E,F,G,CL,Total
0,Abkhazia,Eurasia,t,2018,PF,4,5,6,8,4,0,NaN,18,8,6,4,5,23,41
1,Afghanistan,Asia,c,2018,NF,5,6,2,7,3,0,NaN,12,6,4,2,2,14,26
2,Albania,Europe,c,2018,PF,3,3,8,13,7,0,NaN,28,13,9,9,9,40,68
3,Algeria,Africa,c,2018,NF,6,5,3,4,3,0,NaN,10,7,5,6,7,25,35
4,Andorra,Europe,c,2018,F,1,1,12,15,12,0,NaN,39,15,11,15,16,57,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,West Bank,Middle East,t,2018,NF,7,5,2,4,2,3,NaN,5,8,5,5,5,23,28
205,Western Sahara,Africa,t,2018,NF,7,7,0,0,0,3,NaN,-3,3,0,0,4,7,4
206,Yemen,Middle East,c,2018,NF,7,6,0,1,0,0,NaN,1,5,3,2,2,12,13
207,Zambia,Africa,c,2018,PF,4,4,6,10,6,0,NaN,22,10,7,8,8,33,55
208,Zimbabwe,Africa,c,2018,NF,6,5,2,6,2,0,NaN,10,8,4,3,5,20,30